div.logo {
  background: black;
  text-align: center;
  padding: 10px;
  border-bottom: 2px solid #BA0700;

  img {
    width: 170px;
  }
}

#home {
  background: white;
  min-height: 100vh;

  div.picture {
    background: black;
    text-align: center;
    padding: 10px;

    img {
      height: 350px;
    }
  }

  div.eachTopic, div.eachNews {
    position: relative;
    min-height: 70px;
    padding: 20px;
    margin-top: 10px;
    cursor: pointer;

    span.topic {
      position: absolute;
      left: -10px;
      top: -5px;
      opacity: 0.5;
      padding: 5px;
    }

    span.score {
      position: absolute;
      left: -10px;
      top: -5px;
      opacity: 0.5;
      display: inline-block;
      padding: 5px;
    }
  }
}