#home {
  div.img {
    color: white;
    background: black;
    font-size:32px;
    height:200px;
  }
  div.eachNews {
    position: relative;

    span.topic {
      position: absolute;
      left: -3px;
      top: -3px;
    }

  }
}