#home {
  div.img {
    color: white;
    background: black;
    font-size:32px;
    height:200px;
  }
  div.eachNews {
    position: relative;
    height: 40px;
    padding: 5px;

    span.topic {
      position: absolute;
      left: -3px;
      top: -3px;
      opacity: 0.5;
    }

  }
}