#news {
  min-height: 100vh;
  background: white;

  div.picture {
    background: black;

    span.label {
      display: inline-block;
      margin: 10px;
      font-size: 150%;
    }
  }

  div.score {
    margin-top: 10px;
  }

  div.comment {
    button {
      margin: 5px;
    }
  }
}